.navbar-bg {
    background: rgb(2,0,36);
    background: $primary;
    height: 10rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0 100%);
}
